
<div class="login-page">
    <div class="form">
        <h1 class="h1-strong form-actions">{{title}}</h1>

        <div class="alert alert-success alert-dismissible" *ngIf="status == 'success'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Por favor, revice la bandeja de entrada de su correo electrónico para activar la cuenta!
        </div>

        <div class="alert alert-danger alert-dismissible" *ngIf="status == 'danger'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            El registro no ha podido completarse, quizás tu email o username ya esté en uso, inténtalo de nuevo con otros datos
        </div>
        
        <form  #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">                
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required placeholder="Nombre">
            <span *ngIf="!name.valid && name.touched" >
                <p class="text-danger">
                    <strong> El nombre es obligatorio</strong>
                </p>
            </span>

            <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required placeholder="Apellido">
            <span *ngIf="!username.valid && username.touched" >
                <p class="text-danger">
                    <strong> El apellido es obligatorio</strong>
                </p>
            </span>

            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required placeholder="Username">
            <span *ngIf="!nick.valid && nick.touched" >
                <p class="text-danger">
                    <strong> El username es obligatorio</strong>
                </p>
            </span>

            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Correo electrónico">
            <span *ngIf="!email.valid && email.touched" >
                <p class="text-danger">
                    <strong> El correo es incorrecto</strong>
                </p>
            </span>

            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required placeholder="Password">
            <span *ngIf="!password.valid && password.touched" >
                <p class="text-danger">
                    <strong> La contraseña es obligatorio</strong>
                </p>
            </span>

            <button type="submit">{{title}}</button>
        </form>
    </div>
</div>
