<div class="centrado-porcentual">
    <div class="container-fluid ">
        <div class="row ">
            <div class="form-container ">
                <!-- -->
                <h1 class="h1-strong" >{{title}}</h1>
    
                <div *ngIf="status == 'success'" >
                    <p>La verificación de la cuenta se ha realizado con éxito</p>
                    Pulsa <a [routerLink] = "['/login']" >aquí</a> para iniciar sesión
                </div>
    
                <div *ngIf="status == 'error'">
                    Se ha producido un error en la activación de la cuenta
                </div>
                <!-- -->
            </div>
        </div>
    </div>
</div>
