
<div class="login-page">
    <div class="form">
        <h1 class="h1-strong form-actions">{{title}}</h1>

        <div class="alert alert-success alert-dismissible" *ngIf="status == 'success'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>Tu contraseña ha sido cambiada con éxito</p>
        </div>

        <div class="alert alert-danger alert-dismissible" *ngIf="status == 'danger'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            No se ha podido cambiar tu contraseña, inténtalo otra vez.
        </div>
        
        <form  #cambiarClaveForm="ngForm" (ngSubmit)="onSubmit(cambiarClaveForm)">                
            <input type="password" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="old_password" required placeholder="password actual">
            <span *ngIf="!oldPassword.valid && oldPassword.touched" >
                <p class="text-danger">
                    <strong> Ingrese su contraseña actual </strong>
                </p>
            </span>

            <input type="password" name="newPassword" #newPassword="ngModel" [(ngModel)]="new_password" required placeholder="password nueva">
            <span *ngIf="!newPassword.valid && newPassword.touched" >
                <p class="text-danger">
                    <strong> Ingrese su contraseña nueva </strong>
                </p>
            </span>

            <button type="submit">{{title}}</button>
        </form>
    </div>
</div>
