<div class="">
    <div class="">
        <sidebar></sidebar>

        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
            <h1 class="h1-strong" *ngIf="user">{{title}} {{user.name}} {{user.username}}</h1>

            <div class="people" *ngIf="following">

                <!-- LISTAR USUARIOS -->
                <div *ngFor="let follow of following"  class="item-user">
                    <div class="panel panel-default" *ngIf="follow.followed">
                        <div class="panel-body">

                            <div class="image-user pull-left">
                                <a href="#">
                                    <img src="{{url + 'get-image-user/' +follow.followed.image }}" *ngIf="follow.followed.image">
                                    <img src="assets/user.png" class="avatar-default" *ngIf="!follow.followed.image">
                                </a>
                            </div>
                            <div class="user-name pull-left">
                                <p class="name-username">
                                    <a [routerLink]="['/perfil', follow.followed._id]">
                                        {{follow.followed.name + ' ' + follow.followed.username}}
                                    </a>
                                </p>
                                <p class="nickname">
                                    {{follow.followed.nick}}
                                    {{follow.followed.email}} 
                                </p>
                                
                            </div>

                            <!-- SEGUIR O DEJAR DE SEGUIR-->
                            <div class="pull-right"  *ngIf="follow.followed._id != identity._id">
                                <button class="btn btn-success" 
                                *ngIf="follows_user_login.indexOf(follow.followed._id) < 0"
                                (click)="followUser(follow.followed._id)">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    Seguir
                                </button>

                                <!--EL COLOR ROJO SE MOSTRARÁ CUANDO EL MOUSE ESTÉ ENCIMA DEL BOTÓN-->
                                <!--EL COLOR AZUL SE MOSTRARÁ CUANDO EL MOUSE NO ESTÉ ENCIMA DEL BOTÓN-->
                                <button class="btn btn-primary" 
                                *ngIf="follows_user_login.indexOf(follow.followed._id) >= 0"
                                (click)="unfollowUser(follow.followed._id)"
                                (mouseenter)="mouseEnter(follow.followed._id)"
                                (mouseleave)="mouseLeave()"  
                                
                                
                                [class.btn-danger] ="follow.followed._id == followUserOver"                   
                                >                            
                                    <!--ELSE FOLLOWING ENLACE CON EL NG-TEMPLATE #FOLLOWING-->
                                    <span *ngIf="follow.followed._id == followUserOver; else following">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                        <!--EL TEXTO DEJAR DE SEGUIR SE MOSTRARÁ CUANDO EL MOUSE ESTÉ ENCIMA DEL BOTÓN-->
                                        Dejar de seguir
                                    </span>
                                    <ng-template #following >
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                        Siguiendo
                                    </ng-template>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PAGINACION -->
                <ul class="pagination pull-right">
                    <li *ngIf="page > 1">
                        <a [routerLink]="['/siguiendo', userPageId, prev_page]">Anterior</a>
                    </li>
                    <li *ngIf="pages != page">
                        <a [routerLink]="['/siguiendo', userPageId, next_page]">Siguiente</a>
                    </li>
                </ul>

            </div>
        </div>


        <div class="clearfix"> </div>
    </div>
</div>