
<div class="login-page">
    <div class="form">
        <h1 class="h1-strong form-actions">{{title}}</h1>

        <div >
            <div class="alert alert-success alert-dismissible" *ngIf="status == 'success'">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Te has identificado con éxito, BIENVENIDO {{user.name}}
            </div>

            <div class="alert alert-danger alert-dismissible col-lg-12" *ngIf="status == 'error'">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                No te has identificado correctamente
            </div>
        </div>
      
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <input type="email" id="correo" name="email" #correo="ngModel" [(ngModel)]="user.email"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Correo electrónico">
            <span *ngIf="!correo.valid && correo.touched" >
                <p class="text-danger">
                    <strong> El correo es incorrecto</strong>
                </p>
            </span>

            <input type="password" id="clave" name="password" #clave="ngModel" [(ngModel)]="user.password" required placeholder="Password">
            <span *ngIf="!clave.valid && clave.touched" >
                <p class="text-danger">
                    <strong> La contraseña es incorrecta</strong>
                </p>
            </span>

            <button type="submit">login</button>
            <!--
                <input type="submit" value="Iniciar sesión" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid" >
            -->
            <p class="message"> <a [routerLink]="['/recuperar_cuenta']" [routerLinkActive]="['active']">¿Olvidaste tu contraseña?</a></p>
            <p class="message"> <a [routerLink]="['/registro']" [routerLinkActive]="['active']">Crea una cuenta</a></p>

        </form>
    </div>
</div>

