


<div class="login-page">
    <div class="form">
        <h1 class="h1-strong form-actions">{{title}}</h1>

        <div class="alert alert-success alert-dismissible" *ngIf="status == 'success'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Se ha actualizado tus datos con éxito
        </div>

        <div class="alert alert-danger alert-dismissible" *ngIf="status == 'danger'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            No se han podido actualizar tus datos !!!
        </div>
        
        <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">                
            <input type="text" name="name" #nombre="ngModel" [(ngModel)]="user.name" required>
            <span *ngIf="!nombre.valid && nombre.touched" >
                <p class="text-danger">
                    <strong> El nombre es obligatorio</strong>
                </p>
            </span>

            <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required placeholder="Apellido">
            <span *ngIf="!username.valid && username.touched" >
                <p class="text-danger">
                    <strong> El apellido es obligatorio</strong>
                </p>
            </span>

            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required placeholder="Username">
            <span *ngIf="!nick.valid && nick.touched" >
                <p class="text-danger">
                    <strong> El username es obligatorio</strong>
                </p>
            </span>

            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Correo electrónico">
            <span *ngIf="!email.valid && email.touched" >
                <p class="text-danger">
                    <strong> El correo es incorrecto</strong>
                </p>
            </span>

            <div class="edit-user">
                <div *ngIf="user.image" class="image-user center">
                    <img src="{{ url + 'get-image-user/' + user.image }}"> 
                </div>
            </div>

            <span class="btn btn-default btn-file" style="margin: 10px 0px;">
                <i class="glyphicon glyphicon-camera"></i>
                Foto de perfil
                <input type="file" (change)="fileChangeEvent($event)">
            </span>

            <div  style="text-align: center">
                <!--
                    <input type="submit" value="{{title}}" class="btn btn-warning"  [disabled]="!userEditForm.form.valid" >            
                    
                -->
                <button type="submit">ACTUALIZAR</button>
            </div>
        </form>
    </div>
</div>