<div class="col-lg-12">
    <div class="form-actions">
        <h3>{{title}}</h3>
    </div>
    
    <div class="alert alert-success" *ngIf="status == 'success'">
        Has enviado el mensaje correctamente, míralo en <a [routerLink] = "['/mensajes/enviados']" > tus mensajes enviados</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'danger'">
        No se ha podido enviar el mensaje. Inténtalo mas tarde
    </div>

    <!--FORMULARIO ENVIO DE MENSSAJES-->
    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <p>
            <label>Para:</label>
            <!--LISTADO DE SEGUIDORES-->
            <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control " data-live-search="true" title="Selecciona al receptor" required>
                <option *ngFor="let follow of follows" value="{{follow.user._id}}">
                    {{follow.user.name + ' ' + follow.user.username + '(' + follow.user.nick + ')'}}
                </option>
            </select>
        </p>

        <p>
            <label>Mensaje</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                <p class="text-danger">
                    <strong> El mensaje es obligatorio </strong>
                </p>
            </span>
        </p>

        <div class="form-actions">
            <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!formAdd.form.valid">
        </div>
    </form>
</div>

<script>
    $('.selectpicker').selectpicker('refresh');
</script>